<label>
  <input type="checkbox" [(ngModel)]="isCustom" (change)="setUseCustom($event.target.checked)"/>
  <span>Użyj niestandardowego czasu</span>
</label>

<div>
  <input type="number" min="0" max="23" [(ngModel)]="customTimeHours" (keyup)="calcCustomTime()"/>
  <span>:</span>
  <input type="number" min="0" max="59" [(ngModel)]="customTimeMinutes" (keyup)="calcCustomTime()"/>
</div>

<table>
  <tbody>
  <tr>
    <th>Start:</th>
    <td>{{ spikeStartTime.format('HH:mm:ss') }}</td>
  </tr>
  </tbody>
</table>

